.main{
    /* width: 90%; */
    margin: auto;
    background-color: black;

}


.Carousel {
    margin: auto;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    
    overflow: hidden;
    border-left: 6px solid rgba(255, 255, 255, 0.4);
    border-right: 6px solid rgba(255, 255, 255, 0.4);
}

.butt_para{
    display: flex;
}