.main_div_screen_1{
    /* border: 2px solid red; */
    background-color: #f5f5f7;
}

.iphone{
    margin: 0;
    font-size: 55px;
    font-weight: bold;
}
.paragragh{
    /* font-weight: bolder; */
    font-size: 25px;
}
.screens_button_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.image_1 {
    width: 100%;
    margin-top: 20px; /* text ke neeche gap */
    display: flex;
    justify-content: center;
}

.image_1 img {
    width: 100%;
    max-width: 1200px; /* Apple-style center banner */
    height: auto;
}